---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import AboutMe from '../components/AboutMe.astro';
import Contact from '../components/Contact.astro';
import AboutMeMobile from '../components/AboutMeMobile.astro';
---

<Layout>
	<Nav />
	<main>
		<Hero />
		<AboutMe />
		<AboutMeMobile />
		<Contact />
	</main>
</Layout>

<script>
	import colorSwap from '../scripts/colorSwap';

	document.addEventListener('DOMContentLoaded', async function () {
		if (window.location.hostname === 'localhost') {
			const preserveScroll = await import('../scripts/preserveScroll');
			preserveScroll.default();
		}

		colorSwap();
	});
</script>
