---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import AboutMe from '../components/AboutMe.astro';
import Contact from '../components/Contact.astro';
import AboutMeMobile from '../components/AboutMeMobile.astro';
---

<Layout>
	<Nav />
	<main>
		<Hero />
		<AboutMe />
		<AboutMeMobile />
		<Contact />
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const target = document.getElementById('contact');
		const html = document.querySelector('html');
		if (!target || !html) return;

		const observer = new IntersectionObserver(
			(entries, observer) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						html.classList.add('end');
					} else {
						html.classList.remove('end');
					}
				});
			},
			{
				root: null, // observes entries relative to the viewport
				threshold: 0.5, // trigger when 50% of 'contact' is visible
			},
		);

		observer.observe(target); // Start observing the 'contact' element
	});
</script>
