---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
---

<Layout>
	<Nav />
	<main class="w-full h-[2000px] mt-[150px]"><Hero /></main>
</Layout>
