<section
	class="t-body f-body relative flex min-h-[100dvh] snap-start items-center justify-center
pt-10 md:hidden"
	id="target"
>
	<div class="relative -ml-3 flex gap-5">
		<h3 class="t-lg f-display sticky top-[15dvh] mt-2 self-start">
			<span class=""><span class="text-indigo-300">About</span> Me</span>
		</h3><span>
			<p>
				Somewhere in the neon-lit, digital dusk of 2015, a friend, a fellow adventurer, handed me my first programming
				book. Little did he know, he was lighting the fuse of a rocket destined for the boundless cosmos of code. Since
				then, I've been a nomadic soul wandering the tech landscape, my path illuminated by the glow of screens in the
				twilight hours. I've journeyed through the vast terrains of <a
					class="text-indigo-300 hover:text-indigo-200 hover:underline"
					href="https://www.avi.com"
					target="_blank">established software firms</a
				>, and ventured into the wild frontiers of startups. Alongside these, I nurtured <a
					class="text-indigo-300 hover:underline"
					href="https://syfr.studio"
					target="_blank">a creation of my own</a
				>—a SaaS haven for the muses of music makers.
			</p><br />
			<p>
				Now as a freelancer, I wander with purpose, a digital craftsman for hire. Devoted to a relentless pursuit of
				user experience, navigating the vast seas of possibility with the stars of client dreams as my guide, my code
				the vessel that brings visions from the ethereal realm of imagination into the tangible world.
			</p></span
		>
	</div>
</section>

<script>
	const ele = document.getElementById('target');
	if (ele) ele.scrollIntoView({});
</script>

<style>
	h3 {
		writing-mode: vertical-lr;
		/* transform: scale(-1); */
		/* transform-origin: center; */
		display: inline;
		rotate: 180deg;
		display: flex;
	}
</style>
