<section class="t-body f-body relative flex min-h-[100dvh] snap-start
items-center justify-center md:hidden" id="target">
	<div class="-ml-3 flex gap-6">
		<h3 class="t-lg f-display mt-auto"><span class="text-indigo-300">About</span> Me</h3>
		<p>
			In 2015, a friend handed me a book that ignited my journey into the coding universe. This marked the beginning of
			a pilgrimage through the digital frontier, a quest for knowledge and connectivity in our pixelated age. Since
			then, I've explored the tech landscape, from <a
				href="https://www.avi.com"
				class="text-indigo-300 hover:text-indigo-200 hover:underline">established software firms</a
			> to innovative startups, and even created <a
				href="https://syfr.studio"
				class="text-indigo-300 hover:text-indigo-200 hover:underline"
				>a SaaS platform for musicians to enhance their creativity.</a
			> Now as a freelancer, I craft digital experiences, translating client visions into reality with my coding skills,
			navigating the vast seas of possibility.
		</p>
	</div>
</section>

<script>
	const ele = document.getElementById('target');
	if (ele) ele.scrollIntoView({});
</script>

<style>
	h3 {
		writing-mode: vertical-lr;
		transform: scale(-1, -1);
		display: inline;
	}
</style>
