<section class="h-[100dvh] pt-[25dvh] snap-start">
	<div class="flex md:gap-10 lg:gap-10">
		<h3 class="t-lg f-display mb-auto -ml-4"><span class="text-indigo-300">About</span> Me</h3>
		<div class="t-body f-body text md:w-[400px] lg:w-[659px]">
			<p class="">
				My journey into programming started in 2015 when a college friend handed me a Python development book.
				Little did he know that he would spark a lifetime of continuous learning and endless creation. Since
				then, I've had the privilege of working on a diverse range of projects spanning from established
				software development firms to cutting edge startups. I also built and maintain my own SaaS product that
				helps music makers improve their quality of life
			</p>
			<br />
			<p class="">
				Currently I am working as a freelance developer. My main focus is set on helping innovators and creators
				bring their vision to life through developing elegant, fast, and efficient web applications. My approach
				is rooted in a strong focus on user experience, coupled with a keen attention to detail in understanding
				and executing the client's vision.
			</p>
		</div>
	</div>
</section>

<style>
	h3 {
		writing-mode: vertical-lr;
		transform: scale(-1, -1);
		display: inline;
	}
	text {
	}
</style>
