<h3 class="t-lg f-display md:hidden">
	<span class="text-indigo-300">About</span> Me
</h3>
<p>
	Somewhere in the neon-lit, digital dusk of 2015, a friend, a fellow adventurer, evoking the essence of a modern-day
	explorer passing a map to uncharted territories, handed me a Python book. Little did he know, he was lighting the fuse
	of a rocket destined for the boundless cosmos of code. This wasn't just a transfer of paper and ink; it was the
	initiation of a voyage—a pilgrimage through the ever-expanding digital frontier, a quest for knowledge, creation, and
	the essence of what connects us in this pixelated age.
</p>
<p>
	Since then, I've been a nomadic soul wandering the tech landscape, my path illuminated by the glow of screens in the
	twilight hours. I've journeyed through the vast terrains of <a
		class="text-indigo-300 hover:text-indigo-200 hover:underline"
		href="https://www.avi.com"
		target="_blank">established software firms</a
	>, where the air hums with the legacy of code long written, and ventured into the wild frontiers of startups, where
	the future is sculpted with the daring strokes of innovation. Alongside these, I nurtured <a
		class="text-indigo-300 hover:underline"
		href="https://syfr.studio"
		target="_blank">a creation of my own</a
	>—a SaaS haven for the muses of music makers, a lighthouse guiding them to shores of enhanced creativity and life.
</p>
<p>
	Now as a freelancer, I wander with purpose, a digital craftsman for hire. My odyssey is dedicated to the visionaries
	and the dreamers, crafting web sanctuaries where ideas flourish. My compass? A relentless pursuit of user experience,
	navigating the vast seas of possibility with the stars of client dreams as my guide, my code the vessel that brings
	visions from the ethereal realm of imagination into the tangible world.
</p>
