<section
	class="t-xl f-body relative flex min-h-[100dvh] snap-start items-center justify-center
pt-10 md:hidden"
	id="target"
>
	<div class="relative -ml-3 flex gap-5 leading-6">
		<h3 class="f-display sticky top-[15dvh] mt-2 self-start">
			<span class=""><span class="text-indigo-300">About</span> Me</span>
		</h3>
		<span>
			<p>
				Somewhere in the neon-lit, digital dusk of 2015, a friend and fellow adventurer handed me my first programming
				book. This wasn't just a transfer of paper and ink, it was the initiation of a voyage—a pilgrimage through the
				ever-expanding digital frontier, a quest for knowledge, creation, and the essence of what connects us in this
				pixelated age.
			</p>
			<br />
			<p>
				Since then, I've worked for a few different companies as a professional software engineer, my path illuminated
				by the glow of LCD screens in the twilight hours. I'm currently working at
				<a
					class="font-semibold text-indigo-300 hover:text-indigo-200 hover:underline"
					href="https://www.cyncly.com"
					target="_blank">Cyncly</a
				>
				on the
				<a
					class="font-semibold text-indigo-300 hover:text-indigo-200 hover:underline"
					href="https://www.cyncly.com/en/products/insight"
					target="_blank">Insight</a
				> team, helping manufacturing companies transform and optimize their factory workflows and operations.
			</p>
		</span>
	</div>

	<style>
		h3 {
			writing-mode: vertical-lr;
			display: inline;
			rotate: 180deg;
			display: flex;
			font-size: 30px;
		}
	</style>
</section>
