---
import AboutMeBodyText from './AboutMeBodyText.astro';
---

<section class="relative mb-48 hidden min-h-[100dvh] snap-start overflow-y-clip pt-[16dvh] md:block">
	<div class="flex justify-center md:gap-6 lg:gap-6">
		<h3 class="t-lg f-display top-[160px] mb-auto !hidden min-w-[80px] md:sticky md:-ml-4 md:!block">
			<span class="text-indigo-300">About</span> Me
		</h3>
		<div class="t-body f-body flex flex-col gap-3 md:w-[700px] md:min-w-[700px]">
			<AboutMeBodyText />
		</div>
	</div>
</section>

<style>
	h3 {
		writing-mode: vertical-lr;
		transform: scale(-1, -1);
		display: inline;
	}
</style>

<script>
	// const ele = document.getElementById('target');
	// if (ele) ele.scrollIntoView({});
</script>
