<script>
	const ele = document.getElementById('section');
	if (ele) ele.scrollIntoView();
</script>

<>
	<section id="section" class="pt-[15dvh] md:pt-[25dvh] snap-start h-[100dvh] bg-[#80734F] -mx-[100vw]">
		<div class="w-[100vw] mx-auto pl-8 md:pl-32 lg:pl-48 mt-48">
			<div class="flex flex-col items-start">
				<span class="t-md f-display">Want to connect?</span>
				<button class="t-lg f-display text-left">hello@<wbr />matthewvandoff.com</button>
			</div>
			<div class="flex flex-col mt-12">
				<span class="t-md f-display">Or find me on:</span>
				<a class="t-lg f-display" href="https://www.linkedin.com/in/matthew-vandoff" target="_blank">LinkedIn</a
				>
				<a class="t-lg f-display" href="https://github.com/mvandoff" target="_blank">GitHub</a>
			</div>
		</div>
	</section>
</>

<style>
	section {
		/* display: flex;
		justify-content: center;
		align-items: center; */
	}
</style>
