---
import { Image } from 'astro:assets';
import NameBar from './NameBar.astro';
import me from '../assets/images/me.webp';
---

<div class="relative">
	<NameBar />

	<section class="flex h-[100dvh] snap-start items-center pb-[8vh]">
		<h1 class="t-lg f-display z-10 ml-auto w-[241px] pt-16 text-left md:mx-auto md:w-[468px] lg:w-[630px]">
			<span class="text-indigo-300">
				<span class="hero-word">I</span>
				<span class="hero-word">am</span>
			</span>
			<span class="hero-word">a</span>
			<span class="hero-word">full-stack</span>
			<span class="hero-word">software</span>
			<span class="hero-word">engineer</span>
			<span class="hero-word">building</span>
			<span class="text-indigo-300">
				<span class="hero-word">user</span>
				<span class="hero-word">focused</span>
			</span>
			<span class="hero-word">digital</span>
			<span class="hero-word">solutions</span>
			<span class="hero-word">that</span>
			<span class="italic text-indigo-300">
				<span class="hero-word">feel</span>
				<span class="hero-word">good.</span>
			</span>
		</h1>
	</section>

	<section class="relative flex h-[100vh] snap-start items-center">
		<div class="img-container animated-border-box rounded-lg">
			<Image src={me} alt="portrait" class="rounded-lg" loading="eager" />
		</div>
		<h2
			class="t-md f-display absolute right-0 mt-[15dvh] w-[234px]
  leading-relaxed md:left-[40%] md:w-[441px] lg:w-[574px]"
		>
			<span class="hero-word">Hello</span>
			<span class="hero-word">👋,</span>
			<span class="hero-word">my</span>
			<span class="hero-word">name</span>
			<span class="hero-word">is</span>
			<span class="text-indigo-300"><span class="hero-word">Matthew.</span></span>
			<span class="hero-word">I'm</span>
			<span class="hero-word">a</span>
			<span class="hero-word">software</span>
			<span class="hero-word">developer</span>
			<span class="hero-word">based</span>
			<span class="hero-word">in</span>
			<span class="hero-word">Raleigh,</span>
			<span class="hero-word">North</span>
			<span class="hero-word">Carolina,</span>
			<span class="hero-word">USA.</span>
			<span class="hero-word">I</span>
			<span class="hero-word">specialize</span>
			<span class="hero-word">in</span>
			<span class="hero-word">creating</span>
			<span class="hero-word">performant,</span>
			<span class="hero-word">scalable</span>
			<span class="hero-word">web</span>
			<span class="hero-word">applications</span>
			<span class="hero-word">using</span>
			<span class="hero-word">modern</span>
			<span class="hero-word">tools</span>
			<span class="hero-word">like</span>
			<span class="hero-word">TypeScript,</span>
			<span class="hero-word">React,</span>
			<span class="hero-word">.NET,</span>
			<span class="hero-word">and</span>
			<span class="hero-word">Node.js.</span>
		</h2>
	</section>
</div>

<style>
	.img-container {
		translate: -50%;
		margin: 0 auto 5rem auto;
		@media screen and (min-width: 1024px) {
			width: 375px;
		}
		@media screen and (min-width: 768px) and (max-width: 1024px) {
			width: 300px;
		}
		@media screen and (max-width: 768px) {
			width: 250px;
		}
	}

	.img-container::before {
		content: '';
		z-index: 10;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: linear-gradient(0deg, var(--bg) 5%, rgba(0, 0, 0, 0) 150%);
	}
	img {
		@media screen and (max-width: 400px) {
			object-fit: cover;
			object-position: 2rem;
		}
	}
	h1,
	h2 {
		cursor: default;
	}
	.text-indigo-300 {
		.hero-word:hover {
			color: var(--indigo-400);
		}
	}
	.hero-word:hover {
		color: var(--indigo-300);
	}
</style>
