<div class="sticky top-0 flex h-[100vh] items-center">
	<div class="root gap-6 md:gap-8 lg:gap-10">
		<hr class="w-[15dvh] md:w-[12vh]" />
		<span class="f-display t-sm whitespace-nowrap tracking-[0.35rem]">MATTHEW VAN DOFF</span>
		<hr class="w-[15dvh] md:w-[12vh]" />
	</div>
</div>

<style>
	.root {
		display: inline-flex;
		align-items: center;
		rotate: -90deg;
		translate: -50%;
		margin-bottom: 2vh;
	}
</style>
