<div class="root top-[575px] -ml-[9px] gap-6 md:top-[750px] md:-ml-[12px] md:gap-8 lg:top-[800px] lg:gap-10">
	<hr class="w-[15dvh] md:w-[12vh]" />
	<span class="f-display t-sm whitespace-nowrap tracking-[0.3rem]">MATTHEW VAN DOFF</span>
	<hr class="w-[15dvh] md:w-[12vh]" />
</div>

<style>
	.root {
		display: inline-flex;
		align-items: center;
		position: sticky;
		rotate: -90deg;
		transform-origin: left top;
	}
</style>
