<div class="root">
	<hr class="w-[150px]" />
	<span class="f-display t-d-sm tracking-[0.3rem]">MATTHEW VAN DOFF</span>
	<hr class="w-[150px]" />
</div>

<style>
	.root {
		display: inline-flex;
		align-items: center;
		position: sticky;
		gap: 3rem;
		transform: rotate(-90deg) translate(-100%, 0);
		transform-origin: left top;
		top: 200px;
		left: -4px;
		margin-left: -12px;
	}
</style>
