<div class="root">
	<hr class="w-[150px]" />
	<span class="f-display t-sm tracking-[0.3rem] whitespace-nowrap">MATTHEW VAN DOFF</span>
	<hr class="w-[150px]" />
</div>

<style>
	.root {
		display: inline-flex;
		align-items: center;
		position: sticky;
		gap: 3rem;
		transform: rotate(-90deg) translate(-95%, 0);
		transform-origin: left top;
		top: 200px;
		margin-left: -12px;
	}
</style>
