---
import EvaDiagonalArrowRightUpFill from '~icons/eva/diagonal-arrow-right-up-fill';
---

<nav class="flex justify-between fixed left-0 right-0 mx-[48px] z-50">
	<button>
		<img src="public/logo.svg" class="w-[117px] h-[36px]" alt="logo" />
	</button>
	<button class="flex gap-2 justify-between items-center">
		<span class="t-d-md f-display">Reach Out</span>
		<EvaDiagonalArrowRightUpFill class="w-14 h-14" />
	</button>
</nav>
