---
import colors from 'tailwindcss/colors';

const bg = '#15132A';
const indigo300 = colors.indigo[300];
const altBg = '#80734F';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Porfolio and landing page of full-stack developer, Matthew Van Doff." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="stylesheet" href="https://use.typekit.net/rbu2ifw.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet" />

		<meta name="generator" content={Astro.generator} />
		<title>Matthew Van Doff: Full-Stack Developer</title>
	</head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2J3FESJMHC"></script>
	<script lang="js">
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'G-2J3FESJMHC');
	</script>

	<body>
		<div id="content-wrapper">
			<slot />
		</div>
	</body>

	<style is:global define:vars={{ bg, indigo300, altBg }}>
		:root {
			--indigo-200: oklch(87% 0.065 274.039);
			--indigo-300: oklch(78.5% 0.115 274.713);
			--indigo-400: oklch(67.3% 0.182 276.935);
		}
		html,
		body {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			scroll-snap-type: y mandatory;
		}

		html {
			font-family: cursive;
			background: var(--bg);
			color: white;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-rendering: optimizeLegibility;
			transition: background 750ms;
		}

		.end {
			background: var(--altBg) !important;
		}

		#content-wrapper {
			@media screen and (min-width: 768px) {
				padding: 48px;
			}
			@media screen and (max-width: 768px) {
				padding: 32px;
			}
		}

		#content-wrapper,
		.nav {
			max-width: 1600px;
			margin: 0 auto;
		}

		#content-wrapper,
		.nav {
			max-width: 1600px;
			margin: 0 auto;
		}
		.f-display {
			font-family: neue-haas-grotesk-display, sans-serif;
			font-weight: 600;
			font-style: normal;
		}
		.f-body {
			font-family: neue-haas-unica, sans-serif;
			font-weight: 400;
			font-style: normal;
		}
		.f-hand {
			font-family: 'Caveat', cursive;
			font-weight: 700;
			font-style: normal;
		}
		.t-lg {
			@media screen and (min-width: 1024px) {
				font-size: 58px;
			}
			@media screen and (min-width: 768px) and (max-width: 1024px) {
				font-size: 42px;
			}
			@media screen and (max-width: 768px) {
				font-size: 32px;
			}
		}
		.t-md {
			@media screen and (min-width: 1024px) {
				font-size: 36px;
			}
			@media screen and (min-width: 768px) and (max-width: 1024px) {
				font-size: 26px;
			}
			@media screen and (max-width: 768px) {
				font-size: 20px;
			}
		}
		.t-body {
			color: #e0e7ff;
			@media screen and (min-width: 1024px) {
				font-size: 20px;
				line-height: 30px;
			}
			@media screen and (min-width: 768px) and (max-width: 1024px) {
				font-size: 18px;
				line-height: 32px;
			}
			@media screen and (max-width: 768px) {
				font-size: 16px;
				line-height: 20px;
			}
		}
		.t-sm {
			@media screen and (min-width: 1024px) {
				font-size: 16px;
			}
			@media screen and (min-width: 768px) and (max-width: 1024px) {
				font-size: 14px;
			}
			@media screen and (max-width: 768px) {
				font-size: 11px;
			}
		}
		/* Scrollbar styles */
		body {
			scrollbar-color: #1e1b4b transparent;
		}

		/* Auto-hide scrollbar when inactive */
		::-webkit-scrollbar-thumb:vertical:hover,
		::-webkit-scrollbar-thumb:vertical:active {
			visibility: visible;
		}

		::-webkit-scrollbar-thumb:vertical {
			visibility: hidden;
		}

		/* Hide scrollbar track when inactive */
		::-webkit-scrollbar-track-piece {
			background: transparent;
		}

		a {
			width: fit-content;
			margin: 0;
		}

		a:hover,
		button:hover {
			color: var(--indigo300);
			transition: color 0.1s;
		}
	</style>
</html>
